---
export const prerender = true;
import NavLayout from "../layouts/NavLayout.astro";
---

<NavLayout title="About Urban Dict">
    <h1 class="text-center text-4xl">About Urban Dict</h1>
    <p>hey</p>
</NavLayout>
