---
import NavLayout from "../layouts/NavLayout.astro";
import Post from "../components/Post";
import FromLetter from "../components/FromLetter";
import { getLatestPosts } from "../trpc/client";

const latest = await getLatestPosts();
---

<NavLayout title="Browse through Urban Dict">
    <h1 class="text-4xl text-center">Latest words added by the community!</h1>
    <ul class="md:space-y-5 md:my-5 my-4 space-y-3">
        {latest.map((post) => <Post post={post} />)}
    </ul>
    <FromLetter client:visible />
</NavLayout>
