---
import NavLayout from "../layouts/NavLayout.astro";
import Post from "../components/Post";
import { getPostsByLetter, getLatestPosts } from "../trpc/client";

const fromN = await getPostsByLetter("N");
const latest = await getLatestPosts();
---

<NavLayout title="Home Page for Urban Dict">
	<h1 class="text-xl">These start from 'N'</h1>
	{fromN.map((post) => <Post post={post} />)}
	<h1 class="text-xl">These are the latest posts</h1>
	{latest.map((post) => <Post post={post} />)}
</NavLayout>
