---
import NavLayout from "../layouts/NavLayout.astro";
import Post from "../components/Post";
import { getRandomPosts } from "../trpc/client";
import type { IPost } from "../trpc/types";

const posts = await getRandomPosts();
---

<NavLayout title="Get random words from Urban Dict">
    <h1 class="text-center text-4xl">Random Words</h1>
    {posts.map((post: IPost) => <Post post={post} />)}
</NavLayout>
