---
import NavLayout from "../layouts/NavLayout.astro";
import Post from "../components/Post";
import { getAllPosts } from "../trpc/client";

const posts = await getAllPosts();
---

<NavLayout title="Get random words from Urban Dict">
    <h1 class="text-center text-4xl">Random Words</h1>
    {
        [1, 2, 3, 4, 5].map((num) => (
            <Post post={posts[Math.floor(Math.random() * posts.length)]} />
        ))
    }
</NavLayout>
