---
import NavLayout from "../layouts/NavLayout.astro";
import Post from "../components/Post";
import { searchPost } from "../trpc/client";
const term = Astro.url.searchParams.get("term");

const posts = await searchPost(term as string);
---

<NavLayout title="Search words in Urban Dict">
    <h1 class="text-center text-4xl">Search Results for {term}</h1>
    {
        posts.map((post) => {
            return <Post post={post} />;
        })
    }
</NavLayout>
