---
import NavLayout from "../layouts/NavLayout.astro";
import Post from "../components/Post";
import { searchPost } from "../trpc/client";
const term = Astro.url.searchParams.get("term");

const posts = await searchPost(term as string);
---

<NavLayout title="Search words in Urban Dict">
    <h1 class="text-center text-4xl">Search Results for {term}</h1>
    <ul class="md:space-y-5 md:my-5 my-4 space-y-3">
        {
            posts.map((post) => {
                return <Post post={post} />;
            })
        }
    </ul>
</NavLayout>
