<div
    class="flex flex-col items-center content-center gap-3 py-2 md:flex-row bg-slate-200 rounded-2xl"
>
    <div
        class="w-8 h-8 ml-3 transition-all ease-linear duration-[150] bg-red-500 rounded-[1rem] shrink-0 hover:rounded-md hover:bg-green-500 cursor-pointer"
    >
    </div>
    <div class="text-center">
        <p class="font-bold text-black">
            This is a component with Tailwind CSS styling...
        </p>
        <a
            href="/"
            class="text-green-500 underline cursor-pointer hover:font-semibold hover:decoration-red-600 hover:text-red-600"
            >...and it's pretty cool!</a
        >
    </div>
</div>
