---
import BaseLayout from "./BaseLayout.astro";
import Nav from "../components/Nav";

export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
    <Nav client:visible />
    <main>
        <slot />
    </main>
</BaseLayout>
